h1 {
    padding-top: 60px;
    color: darkcyan;
    text-align: center;
    padding-bottom: 10px;
    margin: 20px;
    font-family: 'Noto Serif JP', serif;

}

h2 {
    color: darkslategrey;
    text-align: center;
    padding-bottom: 30px;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;  
}

h3 {
    color: darkslategrey;
    text-align: center;
    padding-bottom: 30px;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;  
}

p {
    color: darkcyan;
    margin-top: 50px;
    padding: 5px;
/*    padding-bottom: 23px;*/
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    
}

img {
    margin: 20px;
}

.mixingBowl {
    color: lightcoral;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;    padding: 5px;
    margin: 5px;
    font-size: 1.2rem;
}

.starterImage {
    margin-top: 50px;
}

.btn-secondary {
  
  margin: 8px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: darkcyan;
  border: 1px solid transparent;
  padding: 1rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 10rem;
}

.hintButton {
  margin: 8x;
  margin-bottom: 20px;
  margin-right: 25px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: darkcyan;
  border: 1px solid transparent;
  padding: 1rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 10rem;
  float: right;
}

.btn-secondary:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #008080;
  border-color: transparent;
}

.transform {
  -webkit-transition: all 2s ease;  
  -moz-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  -ms-transition: all 2s ease;  
  transition: all 2s ease;
}

